/* CSS code for smaller screens */
@media only screen and (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 1;
    height: 250px;
  }

  .main {
    margin-top: 300px !important; /* height of the sidebar */
  }
}
